.home {
	flex-direction: row;
	margin-top: 0;
}

.home__img {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 110%;
}

.home__content {
	position: relative;
	z-index: 10;
	max-width: 37.5em;
	bottom: 6.1em;
}

.home__description {
	margin: 1.5em 0 0.625em;
}
